.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  height: 300px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 70% 30%;
}

.cardDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  background-color: antiquewhite;
}

.cardDetail > span {
  display: inline-block;     /* or block/flex */
  max-width: 200px;          /* set a limit */
  white-space: nowrap;       /* no line break */
  overflow: hidden;          /* hide overflow */
  text-overflow: ellipsis;   /* add "..." */
}

.cardImgContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg {
  height: 100%;
}